<div class="row mtbox">

    <div style="position: relative; top: -50px;">
    <%@companies=Company.where(:user_id => current_user.id)%>
    <%@companies.each do |company|%>
      <h3 class="center"><b><%=company.name%></b></h3>
    <%end%>
    </div>

    <div class="col-md-2 col-sm-2 box0"></div>
    <div class="col-md-2 col-sm-2 box0"></div>

    <div class="col-md-2 col-sm-2 box0">
      <a href = '/events'>
        <div class="box1">
          <i class="fa fa-calendar-o fa-4x"></i>
          <h3>Events</h3>
        </div>
          <p>You are part of event(s).</p>
      </a>
    </div>

    <div class="col-md-2 col-sm-2 box0">
      <a href = '/users'>
        <div class="box1">
          <i class="fa fa-users fa-4x"></i>
          <h3>Hire</h3>
        </div>
          <p>Find employes to hire</p>
      </a>
    </div>                
            
</div><!-- /row mt -->  
          
<!-- PANELS -->
  <div class="row mt">
    <!-- Weather Panel -->
      <div class="col-md-4 col-sm-4 mb">
        <div class="white-panel pn donut-chart">
          <div class="white-header">
            <h5>WEATHER</h5>
          </div>
            <div class="row">
              <div class="col-sm-6 col-xs-6 goleft">
                <p>75F</p>
              </div>
            </div>
         <canvas id="serverstatus01" height="120" width="120"></canvas>

        </div> <!--/grey-panel-->
      </div> <!-- /col-md-4-->

    <!-- Top Event Panel -->
      <div class="col-md-4 col-sm-4 mb">
        <div class="white-panel pn donut-chart">
          <div class="white-header">
            <h5>TOP EVENT</h5>
          </div>
            <p>EVENT NAME</p>
              IMAGE
            <p class="bottom-right">LIKES</p>
         <canvas id="serverstatus01" height="120" width="120"></canvas>

        </div> <!--/grey-panel-->
      </div> <!-- /col-md-4-->


    <!-- Top Event Panel -->
      <div class="col-md-4 col-sm-4 mb">
        <div class="white-panel pn donut-chart">
          <div class="white-header">
            <h5>TOP EVENT</h5>
          </div>
            <p>EVENT NAME</p>
              IMAGE
            <p class="bottom-right">LIKES</p>
         <canvas id="serverstatus01" height="120" width="120"></canvas>

        </div> <!--/grey-panel-->
      </div> <!-- /col-md-4-->     

  </div><!-- /row -->
        