<div class="row mtbox">

    <div class="col-md-2 col-sm-2 box0"></div>

    <div class="col-md-2 col-sm-2 box0">
      <a href = '/events'>
        <div class="box1">
          <i class="fa fa-calendar-o fa-4x"></i>
          <h3>Training</h3>
        </div>
          <p>Show progress or allow user to set</p>
      </a>
    </div>

    <div class="col-md-2 col-sm-2 box0">
      <a href = '/users'>
        <div class="box1">
          <i class="fa fa-users fa-4x"></i>
          <h3>Hire</h3>
        </div>
          <p>Find employes to hire</p>
      </a>
    </div>        

    <div class="col-md-2 col-sm-2 box0">
      <a href = '/users'>
        <div class="box1">
          <i class="fa fa-arrow-circle-up fa-4x"></i>
          <h3>Upgrade</h3>
        </div>
          <p>Quickly Upgrade or Show current upgrade progress</p>
      </a>
    </div>    

    <div class="col-md-2 col-sm-2 box0">
      <a href = '/users'>
        <div class="box1">
          <i class="fa fa-briefcase fa-4x"></i>
          <h3>Production</h3>
        </div>
          <p>Quickly Produce or Show current production progress</p>
      </a>
    </div>       
            
</div><!-- /row mt -->  
          
<!-- PANELS -->
  <div class="row mt">
    <!-- Stock Market Quick Access Panel -->
      <div class="col-md-4 col-sm-4 mb">
        <div class="white-panel pn donut-chart">
          <div class="white-header">
            <h5>STOCK MARKET</h5>
          </div>
            <div class="row">
              <div class="col-sm-6 col-xs-6 goleft">
                <p>Best Performing</p>
                <p>Worst Performing</p>
              </div>
            </div>
         <canvas id="serverstatus01" height="120" width="120"></canvas>

        </div> <!--/grey-panel-->
      </div> <!-- /col-md-4-->

    <!-- Global Market Panel -->
      <div class="col-md-4 col-sm-4 mb">
        <div class="white-panel pn donut-chart">
          <div class="white-header">
            <h5>GLOBAL GOODS MARKET</h5>
          </div>
            <%Item.all.each do |item|%>
            <p><%=item.name.capitalize%>: $<span class="timer" data-to="<%=item.price%>" data-speed="750"><%=item.price%></span></p>
            <%end%>
         <canvas id="serverstatus01" height="120" width="120"></canvas>

        </div> <!--/grey-panel-->
      </div> <!-- /col-md-4-->


    <!-- Top Event Panel -->
      <div class="col-md-4 col-sm-4 mb">
        <div class="white-panel pn donut-chart">
          <div class="white-header">
            <h5>RICHEST PEOPLE</h5>
          </div>
            <p>Stuff</p>
         <canvas id="serverstatus01" height="120" width="120"></canvas>

        </div> <!--/grey-panel-->
      </div> <!-- /col-md-4-->     

  </div><!-- /row -->
        