/* Move body down */
body{
	position: relative;
	top: 50px;
}

/*TODO Check what makes the hover items dark blue*/

.navbar {
  text-transform: uppercase;
  margin-bottom: 0px;
}

.navbar-inverse {
  padding-bottom: 70px;
  padding-top: 70px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-brand {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

.navbar-trans {
    background-color:#279ddd;
    color:#fff;
}

.navbar-trans li>a:hover,.navbar-trans li>a:focus,.navbar-trans li.active {
    background-color:#38afef;
}

.navbar-trans a{
    color:#fefefe;
}

/*Drop down menu styling*/
ul.dropdown-menu{
  background-color: #279ddd;
  }

ul.dropdown-menu {
  background-color: #279ddd;
  }

ul.dropdown-menu li a{
  color: white;
  }


/*Dropdown on Hover*/
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.navbar .center{
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}


/*Hove Message*/
.message{
    position:absolute;
    width:150px;
    background: rgba(0, 0, 0, 0.80);
    color:#fff;
    padding:15px;
    left:30px;
    top:-30px;
    font-size:13px;
     display:none;  
    }

/*For scrolling Text*/
div.marquee {
  border: 1px solid #fff;
    white-space:no-wrap;
    width: 600px;
    position: fixed;
    left: 200px;
    top: 13px;
    z-index: 999999;
    overflow:hidden;
}
div.marquee > div.marquee-text {
    font-size: 15px;
    color: #fff;
    white-space:nowrap;
    display:inline;
    width:auto;
}