/* ----------------------------------
Css Twitter Tweet Box
------------------------------------ */
body {
 background:rgb(245,248,250);
 position: relative;
 top: 60px;
 /*backgrnd-image: url("../img/bg.jpg");*/
}

/* ----------------------------------
Container Border
------------------------------------ */
.notification-box{
  border:1px solid;
  border-color: #e2e2e2;
  border-radius:5px;
  background:#fff;
  position:relative;
  margin-top: 5px;
}

.left {
  border:1px solid;
  border-color: #e2e2e2;
  border-radius:5px;
  background:#fff;
  position:relative;
/*  margin:20px 0 0 0;*/
  margin-right: -20px;
  margin-left:25px;
/*  padding-bottom:10px;*/
}

.right-box{
  border:1px solid;
  border-color: #e2e2e2;
  border-radius:5px;
  background:#fff;
  position:relative;
/*  margin:20px 0 0 0;*/
  margin-top: 5px;
  margin-right:30px;
  margin-left:-20px;
  width: 65%;
/*  padding-bottom:10px;*/
}

/* ----------------------------------
notification form, input message
------------------------------------ */
.notification-box form {
  background-color: rgb(229,242,247);
  border-radius:3px;
  height: 180px;
}
.notification-box form .inp-text{
  border-radius:3px;
  border:1px solid #999;
  margin:7px 5px 7px 6px;
  color: #000; 

  padding:7px;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 0 4px rgba(0, 0, 0, 0.3) inset, 0 0 1px #fff;
  width:15%;
  outline:0;
}

.notification-box form select{
  border-radius:3px;
  border:1px solid #999;
  margin:7px 5px 7px 6px;
/*   color: #000; */
  height: 15%;
  width: 8%;

}

.notification-box form .tweet-btn {
  /*TODO: Change Post Button Look nicer, proably remove gradiant.*/
  background:-webkit-linear-gradient(#28adef, #0088cc 80%, #037fbc);
  border:1px solid #007cba;
  border-radius:3px;
  font-size:13px;
  color:#fff;
  font-weight:bold;
  height:34px;
  width:50px;
  box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

/* ----------------------------------
twitter list tweet news
------------------------------------ */
.list {
  border-bottom:1px solid #999;
  padding:10px;
  position:relative;
  min-height: 75px;
  box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
}
.list .avatar {
  float:left;
  margin-right:10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.list .content {
  font-size:12px;
  margin-right:20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif; 
  font-weight: 300;
}
.list .time {
  position:absolute;
  right:0;
  top:0;
  margin:10px 10px 0 0;
  font-style:normal;
  font-size:11px;
  color:#aaa;
}
.list:last-child {
  box-shadow:none;
  border:0;
}

/* unvisited link */
.list a:link {
    color: #000;
}

/* visited link */
.list a:visited {
    color: #000;
}

/* mouse over link */
.list a:hover {
    color: rgb(0,133,179);
}

/* create new event drop down */

#eventForm  {
    display: none;
    background: #ccc;
    width: 250px;
    height: 100px;
    padding: 20px;
    color: #333;
}
#event  {
    width: 290px;
    display:block;
    background:#069;
    color:#fff;
}
.label {
   cursor: pointer; 
   display:block;
   padding: 5px 15px;
   font-size: 16px;
   font-weight: bold;    
}
.form-label {
    width: 70px;
    font-size: 12px;
    font-weight: bold; 
}
.form-field {
    width: 180px;
}

.form-elements {
    font-size: 0px;
    margin: 10px 0 0 0;
    display: block;
}

.form-label, .form-field {
    display: inline-block;
}

.form-field input {
    padding: 3px 5px;
}

.submit-btn input {
    margin-left: 60px;
    width: 30%;
    height: 15%;
}