     <h3>MARKET</h3>
     <p>Something</p>

     <h3>UPDATES</h3>
     <!-- Open Scrollable Container -->
     <!-- TODO: Make the height of the whole thing 100% -->
     <div style="overflow:scroll; height:50vh">                   
      <!-- First Action -->
      <div class="desc">
       <div class="thumb">
        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
      </div>
      <div class="details">
        <p><muted>1 minute ago</muted><br/>
         One of your employees, Some guy left your company.<br/>
       </p>
     </div>
   </div>
   <!-- Second Action -->
   <div class="desc">
    <div class="thumb">
      <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
    </div>
    <div class="details">
      <p><muted>2 hours ago</muted><br/>
       <a href="/companies/2">Pabi Industrial Corporation</a> bought <a href="">Ford</a> for $20 Billion.<br/>
     </p>
   </div>
 </div>
 <!-- Third Action -->
 <div class="desc">
  <div class="thumb">
    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
  </div>
  <div class="details">
    <p><muted>1 day ago</muted><br/>
     <a href="/companies/1">Pabi Industrial Corporation</a>sold a record high of 5000 chairs in a day.<br/>
   </p>
 </div>
</div>
<!-- Fourth Action -->
<div class="desc">
  <div class="thumb">
    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
  </div>
  <div class="details">
    <p><muted>1 day ago</muted><br/>
     The value of a share of <a href="/companies/1">Pabi Mining Corporation</a> tumbled 2% in an hour.<br/>
   </p>
 </div>
</div>
<!-- Fifth Action -->
<div class="desc">
  <div class="thumb">
    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
  </div>
  <div class="details">
    <p><muted>2 days ago</muted><br/>
     You purchased 200 energy particals from Sony<br/>
   </p>
 </div>
</div>

</div> <!-- Close scrollable div -->

<!-- Ads Section -->
<h3>ADS</h3>
<div class="desc">
  <div class="thumb">
    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
  </div>
  <div class="details">
     <a href="#">Buy a mofle in China town now!</a><br/>
   </p>
 </div>
</div>
