  <!-- <div class="row">
    <div class="col-xs-12"> -->

      <!--sidebar start-->
      <aside>
      <!-- Start of Toggle -->
        <div id="sidebar"  class="nav-collapse sidebar force-hidden-xm" style="display: block;">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" id="nav-accordion">
            
            <p class="centered force-hidden-xm"><a href="/user/<%=current_user.id%>"><img src=<%=Gravatar.new(current_user.email).image_url%> class="img-circle" width="60"></p>
            <h5 class="centered force-hidden-xm"><%=current_user.username%></h5></a>
            <hr class="force-hidden-xm">
              
              <%if Company.where(:user_id => current_user.id, :main => true).count<1%>
              <li>
                <a href="/companies/new">
                  <i class="fa fa-star"></i>
                  <span>Start a Startup</span>
                </a>
              </li>
              <%end%>

              <%if Company.where(:user_id => current_user.id).count>=1%>
              <li>
                <a href="/companies">
                  <i class="fa fa-building"></i>
                    <span>Companies</span>
                </a>
              </li>
              <%end%>
              
              <li>
                <a href="/market">
                  <i class="fa fa-exchange"></i>
                  <span>Global Market</span>
                </a>
              </li>

              <li>
                <a href="/investments">
                  <i class="fa fa-line-chart"></i>
                  <span>Invest</span>
                </a>
              </li>

              <li>
                <a href="/users-companies">
                  <i class="fa fa-search"></i>
                  <span>Users & Companies</span>
                </a>
              </li>
              <li>
                <a href="/inbox">
                  <i class="fa fa-inbox"></i>
                  <span>Inbox</span>
                </a>
              </li>
              <li>
                <a href="/account">
                  <i class="fa fa-user"></i>
                  <span>Account</span>
                </a>
              </li>
              <li>
                <a href="/request-help">
                  <i class="fa fa-question"></i>
                  <span>Request & Help</span>
                </a>
              </li>

        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end -->
  <!-- </div>
</div> -->