<!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
        <div id="sidebar"  class="nav-collapse ">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" id="nav-accordion">
            
            <% if defined?(Devise) %>
            <% if user_signed_in? %>
            <p class="centered"><a href="/user/#"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
            <h5 class="centered">USER</h5>

            <li>
              <span><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></span>
            </li>

            <li>
              <a href="/account">
                <i class="fa fa-user"></i>
                <span>Edit Account</span>
              </a>
            </li>

            <li>
              <a href="/signout">
                <i class="fa fa-sign-out"></i>
                <span>Sign out</span>
              </a>
            </li>
          
            <li>
              <a href="/my-events">
                <i class="fa fa-calendar-o"></i>
                <span>My Events</span>
              </a>
            </li>
<!--             <li class="mt">
              <a href="index.html">
                <i class="fa fa-users"></i>
                <span>Friends</span>
              </a>
            </li> -->

            <%else%>
            <p class="center">Login or Sign up to Access<br> all Features</p>
            <%end%>
            <%end%>

            <li class="mt">
              <!--                       <a href="index.html"> -->
              <!--                           <i class="fa fa-search"></i> -->
              <!--                           <span>Browse Events</span> -->
            </a>
          </li>

        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->