  <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
        <!-- Container makes the navbar extend across the whole screen, removing the default curved sides -->
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand">Pandora</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/login"><b>Already a Member?</b></a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- container-collapse -->
      </nav>


  <!--
      Start Preloader
      ==================================== -->
    <!-- <div id="loading-mask">
      <div class="loading-img">
        <img alt="Meghna Preloader" src="img/preloader.gif"  />
      </div>
    </div> -->
        <!--
        End Preloader
        ==================================== -->
    
        <!--
        Welcome Slider
        ==================================== --> 
      <div class="banner">
          <ul>
              <li style="background-image: url(/assets/welcome-1.jpg)">
                <h1 class="center">WELCOME TO PANDORA</h1>
                <h2 class="center">Where you fight to become the Largest Corporation</h2>
                <p class="center"><a href="/signup"><button class="btn btn-primary">Join the Beta Now</button></a></p>
              </li>
              <li style="background-image: url(/assets/welcome-2.jpg)">
                <h1 class="center">GROW TILL YOU ARE THE BIGGEST</h1>
                <h2 class="center">There is no limit to the expansion of your Company</h2>
                <p class="center"><a href="/signup"><button class="btn btn-primary">Join the Beta Now</button></a></p>
              </li>
              <li style="background-image: url(/assets/welcome-3.jpg)">
                <h1 class="center">MEET AND PLAY WITH FRIENDS</h1>
                <h2 class="center">to Grow Faster Together</h2>
                <p class="center"><a href="/signup"><button class="btn btn-primary">Join the Beta Now</button></a></p>
              </li>
              <li style="background-image: url(/assets/welcome-4.jpg)">
                <h1 class="center">ALL THIS FROM HOME</h1>
                <h2 class="center">Or anywhere else in the WORLD</h2>
                <p class="center"><a href="/signup"><button class="btn btn-primary">Join the Beta Now</button></a></p>
              </li>
          </ul>
      </div>
    <!--/#home section-->    
    <!--
    Start About Section
    ==================================== -->
    <section id="about" class="bg-one">
      <div class="container">
      <p class="center sm-active"><a href="/signup"><button class="btn btn-primary">Join the Beta Now</button></a></p>
        <div class="row">
        
          <!-- section title -->
          <div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
            <h2><span class="color">About</span> the Game</h2>
            <div class="border"></div>
          </div>
          <!-- /section title -->
          
          <!-- About item -->
          <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" >
            <div class="wrap-about">              
              <div class="icon-box">
                <i class="fa fa-lightbulb-o fa-4x"></i>
              </div>          
              <!-- Express About Yourself -->
              <div class="about-content text-center">
                <h3 class="ddd">Create and Decide</h3>               
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos provident laborum eum dignissimos</p>
              </div>
            </div>
          </div> 
          <!-- End About item -->
          
          <!-- About item -->
          <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
            <div class="wrap-about">
              <div class="icon-box">
                <i class="fa fa-users fa-4x"></i>
              </div>
              <!-- Express About Yourself -->
              <div class="about-content text-center">
                <h3>A Social Game</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos provident laborum eum dignissimos</p>
              </div>
            </div>
          </div> 
          <!-- End About item -->
          
          <!-- About item -->         
          <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
            <div class="wrap-about kill-margin-bottom">
              <div class="icon-box">
                <i class="fa fa-line-chart fa-4x"></i>
              </div>
              <!-- Express About Yourself -->
              <div class="about-content text-center">
                <h3>A True Economy</h3>
                <p>All prices vary depending on supply and demand. And all this live. Have fun playing the market.</p>
              </div>
            </div>
          </div> 
          <!-- End About item -->
          
        </div>    <!-- End row -->
      </div>    <!-- End container -->
    </section>   <!-- End section -->
    
    <!--
    Start Counter Section
    ==================================== -->
    
    <section id="counter" class="parallax-section">
      <div class="container">
        <div class="row">
        
          <!-- first count item -->
          <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
            <div class="counters-item">
              <div>
                  <span class="timer" data-speed="3000" data-to="<%=User.all.count%>"><%=User.all.count%></span>
              </div>
              <i class="fa fa-users fa-3x"></i>
              <h3>Happy Users</h3>
            </div>
          </div>
          <!-- end first count item -->
        
          <!-- second count item -->
          <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
            <div class="counters-item">
              <div>
                  <span class="timer" data-speed="3000" data-to="<%=Company.all.count%>"><%=Company.all.count%></span>
              </div>
              <i class="fa fa-check-square fa-3x"></i>
              <h3>Companies Created</h3>
            </div>
          </div>
          <!-- end second count item -->
        
          <!-- third count item -->
          <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
            <div class="counters-item">
              <div>
                  <span class="timer" data-speed="3000" data-to="9">9</span>
              </div>
              <i class="fa fa-building fa-3x"></i>
                    <h3>Different Company Types</h3>
              
            </div>
          </div>
          <!-- end third count item -->
          
          <!-- fourth count item -->
          <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
            <div class="counters-item kill-margin-bottom">
              <div>
                  <span class="timer" data-speed="3000" data-to="2500">2500</span>
              </div>
              <i class="fa fa-coffee fa-3x"></i>
              <h3>Cups of Coffee</h3>
            </div>
          </div>
          <!-- end fourth count item -->
          
        </div>    <!-- end row -->
      </div>    <!-- end container -->
    </section>   <!-- end section -->
    
    
    <!-- end Contact Area
    ========================================== -->
    
    <footer id="footer" class="bg-one">
      <div class="container">
          <div class="row wow fadeInUp" data-wow-duration="500ms">
          <div class="col-lg-12">
            
            <!-- Footer Social Links -->
            <div class="social-icon">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <!--/. End Footer Social Links -->
            
          </div> <!-- end col lg 12 -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </footer> <!-- end footer -->