<%@buildings=Building.where(company_id: @company.id)%>

<div class="container">
  <div class="row">
<%@buildings.each do |building|%>
    <div class="col-md-4" style="background-color: #000; border: solid 1px #F2F2F2; border-radius: 5px;">
    	<%=building.name%>
    	<%if @company.balance>1000%>
    	<button>Build</button>
    	<%end%>
    </div>
<%end%>
  </div> <!-- row -->
</div> <!-- container -->

<%= javascript_tag do %>
$(document).ready(function(){
	$('.build_box').click(function(){
		var buildingName = $(this).children('p').attr("class")
		var production = $(this).children('.production').text()
		alert(buildingName);
		$.ajax({
            type: 'POST',
            url: '/build',
            dataType: 'script',
            data: {'company_id' : '<%=@company.id%>'},
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}
        });
	});

	<%if @construction==false%>
		$('.construction').hide();
	<%else%>
		var time = parseInt($('#timeleft').text())
		setInterval(function () {
			$('#timeleft').text(time + 's');
			time -= 1
		}, 1000);
	<%end%>
});
<%end%>