<div class="center">
  <%@companies=Company.where(:user_id => current_user.id)%>
  <!-- TODO: add this back -->
  <%#if @companies.count >= 1%>
  <h1 style="position: relative; top: 20px;">You already own a company.</h1><br><h3>As a non-premuim user <br>you may not own more than one company.</h3>

  <a href="/premium"><button>Go Premium</button></a><br><br>
  <%#else%>

  <!-- <h1>Welcome</h1>
  <h3 style="position: relative; top:-15px;">Lets start by creating your own startup</h3> -->
  
<div class="row">
<div class="col col-md-3"></div>
<div class="col col-md-6">
  <form class="form" action="/companies" method="post" accept-charset="utf-8">
    <input type="hidden" name="user_id" value="<%=current_user.id%>">
    <input class="form-control" type="text" name="name" placeholder="Company Name"><br>
    <input class="form-control" type="text" name="moto" placeholder="Company Moto - Can be left blank"><br>
    Type
    <select name="sector" class="form-control">
      <option value="1">Miner</option>
      <option value="2">Industrial</option>
      <option value="3">Services</option>
    </select><br><br>
    <button class="form-control" type="submit">Create</button>     
  </form>
  <%#end%>
</div>
</div>
</div>