/*POSITION HELPERS*/
.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-move-up{
  position: relative;
  top: -80px;
}

.bottom-right{
  text-align: right;
  position: relative;
  top: 50%;
}