/*TODO Check what makes the hover items dark blue*/

.navbar {
  text-transform: uppercase;
  margin-bottom: 0px;
}

.navbar-inverse {
  padding-bottom: 70px;
  padding-top: 70px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-brand {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

.navbar-trans {
    background-color:#279ddd;
    color:#fff;
    border-bottom-width: 1px;
    border-color: #fff;
}

.navbar-trans li>a:hover,.navbar-trans li>a:focus,.navbar-trans li.active {
    background-color:#38afef;
}

.navbar-trans a{
    color:#fefefe;
}