<%= stylesheet_link_tag 'pages/tutorial' %>

<%= render template: "companies/new.html.erb" %>


<!-- TUTORIAL -->
<div class="tutorial-box">
  <h1>Welcome</h1>
  <span class="close"></span>
  
  <div class="slider-container">
    <div class="slider-turn">
      <p>
        Lets start by creating your very own startup!<br>
        Fill out all the information and press create once you are done. <br>
        This guy: <img src='/assets/right_pointing.png' style='height: 25px;'> will guide you.
      </p>
    </div>
  </div>

  <div class="bottom">
    <div class="btn-2">
      <span>Step 1/?</span>
    </div>
    <button class="next">Got it</button>
  </div>
</div>

<%= javascript_include_tag('tutorial.js') %>

<script type="text/javascript">
  $("input[name='name']").before("<div class='finger_point'><img src='/assets/down_pointing.png' style='width: 25px;'></div>");
  $('input').change(function(){
    $(".finger_point").hide();
    $(this).after("<div class='finger_point'><img src='/assets/down_pointing.png' style='width: 25px;'></div>");
  });
  $('select').change(function(){
    $(".finger_point").hide();
    $(this).after("<div class='finger_point'><img src='/assets/down_pointing.png' style='width: 25px;'></div>");
  });
</script>