<%= stylesheet_link_tag 'pages/tutorial' %>

<%= render template: "invest/investors.erb" %>

<!-- TUTORIAL -->
<div class="tutorial-box">
  <h1>Get Money</h1>
  <span class="close"></span>
  
  <div class="slider-container">
    <div class="slider-turn">
      <p>
        In order to do anything as a buisness you need money, correct?<br>
        Lets start by creating a loan from the bank.<br>
        Fill out the form and submit it.
      </p>
    </div>
  </div>

  <div class="bottom">
    <div class="btn-2">
      <span>Step 3/?</span>
    </div>
    <button class="next">Got it</button>
  </div>
</div>

<%= javascript_include_tag('tutorial.js') %>